.DS_Store
.DS_Store?
node_modules
.idea
*.iml
db.json
*.log
runctl

server/tests/coverage
client/tests/coverage
client/static/css/style.css
client/static/css/style.css.map
client/static/js/bundle.js
client/static/js/lb-services.js
client/index.html